INVEST_BOT_DB_HOST=db
INVEST_BOT_DB_PORT=5432
INVEST_BOT_DB_NAME=invest_bot
INVEST_BOT_DB_USER=invest_bot
INVEST_BOT_DB_PASSWORD=invest_bot

INVEST_BOT_APP_ROLE=web
INVEST_BOT_DASHBOARD_HOST=0.0.0.0
INVEST_BOT_DASHBOARD_PORT=8000

INVEST_BOT_TRADING_MODE=mock
INVEST_BOT_ENVIRONMENT=docker
INVEST_BOT_LOG_LEVEL=INFO
